# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles/

# Çevre değişkenleri
.env

# Celery
celerydb.sqlite
celeryresults.sqlite

# IDE
.idea/
.vscode/
*.swp
*.swo

# Virtualenv
venv/
.venv/
ENV/

# Diğer
.DS_Store
.coverage
htmlcov/
.pytest_cache/ 